div.main-body {
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-template-areas: "navbar maincont";
    grid-gap: 20px;
}

nav#navbar {
    grid-area: navbar;
    position: fixed;
}

nav#navbar a {
    display: block;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}

main#main-doc {
    grid-area: maincont;
}

header {
    font-size: 1.5rem;
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }
}